* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background-color: saddlebrown;
}

.wrapper {
    width: 720px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 20px);
}

.wrapper header {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}

.wrapper form {
    margin: 35px 30px;
}

form .dbl-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

form .field {
    height: 50px;
    width: calc(100% / 2 - 13px);
}

form .field input, form .message textarea {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #bfbfbf;
}

form .field input:focus, form .message textarea:focus {
    border: 2px solid saddlebrown;
}

form .field input::placeholder, form .message textarea::placeholder {
    color: #bfbfbf;
}

form .message textarea {
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0px 20px;
    min-width: 100%;
    max-width: 100%;
}

form .button-area {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.button-area button {
    font-size: 18px;
    border: none;
    background-color: saddlebrown;
    color: white;
    padding: 13px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.button-area span {
    color: saddlebrown;
    margin-left: 30px;
    display: none;
}

@media(max-width: 600px) {

    .wrapper {
        width: 350px;
        filter: drop-shadow(0px 0px 15px);
    }

    .wrapper header {
        text-align: center;
    }

    form .dbl-field {
        flex-direction: column;
        margin-bottom: 0;
    }

    .dbl-field .field {
        width: 100%;
        margin-bottom: 25px;
    }

    form .message textarea {
        resize: none;
    }

    form .button-area {
        flex-direction: column;
    }

    .button-area button {
        width: 100%;
        margin-bottom: 25px;
    }

    .button-area span {
        margin: 0;
        text-align: center;
    }
}